doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title=''
        link(rel="shortcut icon" href="./favicon.ico")
        link(rel="bookmark" href="./favicon.ico")
        style(type="text/css") @import "./styles/index.css";
    body
        header.main
            h1 Jesse Lauriston Livermore，1877--1940
            nav
                ul
                    li(role="toggle" aria-controls="#settings_manager") 参数设置
        include ./jade/settings_manager.jade
        div.wrapper
            aside
            section
        footer.main
            #copyright &copy; 周培公 2005-2015
        script(data-main="scripts/app.js" src="scripts/require.js")
